@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* main */
.main {
    width: 100%;
    height: calc(100dvh - 81px);
    background-color: rgb(228, 228, 228);
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 990px) {
    .main {
        height: calc(100dvh - 60px);
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/* in main */

/* trang chu */
.banner {
    width: 100%;
    height: calc(100dvh - 81px);
    background-image: url(../img/bannerBG.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.banner .title {
    position: relative;
    translate: 0 -50%;
    top: calc(40%);
    left: 5%;
}
.banner .title span {
    content: 'Chào mừng đến';
    font-family: 'Smooch';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    color: #FFC700;
    position: relative;
    translate: 100px 0;
    padding-left: 20px;
}

.banner .title h1{
    display: inline;
    width: 1050px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 300px;
    line-height: 67%;
    color: #FFFFFF;
}



.banner .filter {
    width: 100%;
    height: calc((100dvh - 81px) / 3 * 2);
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%);
}

@media screen and (max-width: 990px) {
    .main {
        height: calc(100dvh - 60px);
        position: absolute;
        top: 0;
    }
    .banner {
        height: calc(100dvh - 60px);
    }
    .banner .filter {
        height: calc((100dvh - 60px) / 3 * 2);
    }
}