@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/* main */
.main {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: calc(100dvh - 81px);
    background-color: rgb(228, 228, 228);
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 990px) {
    .main {
        height: calc(100dvh - 60px);
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/* in main */

/* trang chu */
.banner {
    width: 100%;
    height: calc(100dvh - 81px);
    background-image: url(../img/trangchu/bannerBG.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner .title {
    position: relative;
    translate: 0 -50%;
    top: calc(40%);
    left: 5%;
}

.banner .title span {
    content: 'Chào mừng đến';
    font-family: 'Smooch';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    color: #FFC700;
    position: relative;
    padding-left: 20px;
}

.banner .title h1 {
    display: inline;
    width: 1050px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 300px;
    line-height: 67%;
    color: #FFFFFF;
}



.banner .filter {
    width: 100%;
    height: calc((100dvh - 81px) / 3 * 2);
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(356.3deg, rgba(0, 0, 0, 0.6) 3.4%, rgba(0, 0, 0, 0) 92.42%);
}

.banner a {
    border: none;
    background: transparent;
    width: 100px;
    height: 50px;
    background-image: url(../img/trangchu/bannerBtn.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    translate: -50%;
    left: calc(50%);
    bottom: 70px;
    width: 350px;
    height: 67px;
    cursor: pointer;
}

.banner a:hover {
    width: 430px;
    height: 97px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-size: calc(100% - 80px) calc(100% - 30px);
    bottom: 55px;
}

.banner .bannerEffect {
    height: 40px;
    position: absolute;
    bottom: 0;
    translate: 0 50%;
    z-index: 1;
}

@media screen and (max-width: 990px) {
    .main {
        height: calc(100dvh - 60px);
        position: absolute;
        top: 0;
    }

    .banner {
        height: calc(100dvh - 60px);
    }

    .banner .filter {
        height: calc((100dvh - 60px) / 3 * 2);
    }
}

@media screen and (max-width: 1200px) {
    .banner .title {
        width: 100%;
        translate: 0 0;
        top: 0;
        left: 0;
    }

    .banner .title span {
        display: block;
        padding-left: 0;
        font-size: 150px;
        width: 100%;
        text-align: center;
    }

    .banner .title h1 {
        display: block;
        width: 100%;
        font-size: 300px;
        text-align: center;
    }

    .banner button {
        width: 300px;
        height: 57px;
        bottom: 50px;
    }

    .banner button:hover {
        width: 380px;
        height: 87px;
        bottom: 35px;
    }
}

.section1 {
    position: relative;
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg, #00BC8F 61.24%, rgba(0, 188, 143, 0) 100%);
}

.section1 .title {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.section1 .title span {
    font-family: 'Smooch';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 82.8%;
    color: #FFD600;
}

.section1 .title h1 {
    margin-top: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.section1 .title .cmt::before {
    content: 'a';
    color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 82px;
    height: 5px;
    background: #00FFC2;
    border-radius: 10px;
}

.section1 .title .cmt {
    padding-top: 15px;
    position: relative;
    margin: auto;
    width: 700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.section1 .images {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.section1 .images .img {
    animation: show 5s linear;
    animation-timeline: view();
    animation-range: 30%;
    overflow: hidden;
    text-align: center;
    border-radius: 40px;
    height: 200px;
    width: 310px;
    background-size: auto 230%;
    background-position: 64.5% 65%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 300px;
    max-height: 500px;
    position: relative;
}
@keyframes show {
    from {
        height: 200px;
    }
    to {
        height: 1500px;
        border-radius: 5px;
    }
}
.section1 .images .img .filter {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%);
}

.section1 .images .img h2 {
    position: absolute;
    bottom: 80px;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.section1 .images .img p {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section1 .images .img1 {
    background-image: url(../img/trangchu/section1/img1.webp);
}

.section1 .images .img2 {
    background-image: url(../img/trangchu/section1/img2.webp);
}

.section1 .images .img3 {
    background-image: url(../img/trangchu/section1/img3.webp);
}